@import "tailwindcss";
@import "tw-animate-css";
@import "tailwindcss";
@plugin "@tailwindcss/typography";

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    /* dst... */
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    /* dst... */
  }
}
